name: Code Quality

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  lint-and-format:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
    
    - name: Set up Python 3.11
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v5
      with:
        python-version: "3.11"
        
    - name: Install Poetry
      uses: snok/install-poetry@76e04a911780d5b312d89783f7b1cd627778900a # v1
      with:
        virtualenvs-create: true
        virtualenvs-in-project: true
        installer-parallel: true

    - name: Load cached venv
      id: cached-poetry-dependencies
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v4
      with:
        path: .venv
        key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}

    - name: Install dependencies
      if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
      run: poetry install --no-interaction --no-root

    - name: Check imports with isort
      run: poetry run isort . --check-only --diff

    - name: Check formatting with Black
      run: poetry run black . --check --diff

    - name: Lint with Flake8
      run: poetry run flake8 src --count --select=E9,F63,F7,F82 --show-source --statistics

    - name: Lint with Pylint
      run: poetry run pylint src --fail-under=9.0
